---
title: Capra Lab Members
layout: members
group: members
---

<h1>Capra Lab Members</h1>

{% for member in site.members %}

{% unless member.enddate == empty %}
{% continue %}
{% endunless %}

{% if member.position contains "Affiliate" %}
{% continue %}
{% endif %}

        <hr>
        <!-- The paddingtop and margin-top edits allow anchors to link properly. -->
        <div id = "{{member.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
            <div class="col-sm-4">
                <img class="img-fluid" src="{{member.image}}" {% if member.altimage %} onmouseover="this.src='{{member.altimage}}';" onmouseout="this.src='{{member.image}}';" {% endif %} alt="{{member.name}}"; width="365"; height="365"><br>
                <strong>{{member.name}}</strong> <br>
                {% if member.pronouns %}
                  <em>{{member.pronouns}}</em> <br>
                {% endif %}
                {{member.position | markdownify | remove: '<p>' | remove: '</p>' }} <br>
                <em>{{member.email}}</em> <br>
                {% if member.website %}
                  <a style="overflow-wrap: break-word;" href= "{{member.website}}">{{member.website}}</a> <br>
                {% endif %}
                {% if member.orcid %}
                  <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/logos/orcid_logo.svg"></a>
                  <a href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a> <br>
                {% endif %}
                {% if member.linkedin %}
                  <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/logos/linkedin_logo.svg"></a>
                  <a href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a> <br>
                {% endif %}
                {% if member.UCSF %}
                  <a href="http://www.ucsf.edu"><img class="inline-block mem-icon" src="/static/img/logo/ucsf_logo_black.svg"></a>
                  <a href= "http://profiles.ucsf.edu/{{member.UCSF}}"> Profile </a> <br>
                {% endif %}
                {% if member.scholar %}
                  <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/logos/gscholar_logo.svg"></a>
                  <a href= "http://scholar.google.com/citations?user={{member.scholar}}"> Scholar Citations </a> <br>
                {% endif %}
                {% if member.twitter %}
                  <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/logos/twitter_logo.svg"></a>
                  <a href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a> <br>
                {% endif %}
                {% if member.github %}
                  <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/logos/github_logo.svg"></a>
                  <a href= "http://github.com/{{member.github}}"> {{member.github}} </a> <br>
                {% endif %}
            </div>
            <div class="col-sm-8">
                <p class="text-justify">{{member.description | markdownify}}</p>
            </div>
        </div>
{% endfor %}
<hr>

<h4>Capra Lab Alumni</h4>
<p><span style="text-decoration: underline;"><em>Postdocs</em></span></p>
<p>Bian Li, 2019 – 2021 <br />Bian received his PhD in Chemistry from Vanderbilt University in 2018. Prior to joining the Capra Lab, he was a postdoctoral associate at Yale University. Bian is primarily interested in computational structural biology and human molecular genetics. His research goals include understanding the genetic variants underlying differences in the efficacy and toxicity of drugs and developing data-driven tools for improving drug prescription. Bian&#8217;s previous research topics include drug discovery, protein structure prediction, and variant interpretation.</p>

<p>David Rinker, 2016 – 2021 <br />David received his PhD in Genetics from Vanderbilt in 2015. His interests center around functional genomics, with a particular interest in exploring the relationship between gene regulation and phenotype. David’s previous research spanned both arthropod and fungal genomics, and he remains interested in placing genomic inquiries within the larger framework of comparative evolutionary biology.</p>


<p>Greg Sliwoski, July 2016 – May 2019Greg received his PhD in Biochemistry from the University of Leipzig in Germany. He is primarily interested in exploring computational techniques that incorporate protein structure prediction into variant effect prediction. His research goals include improving rare variant analysis with structural modeling and applying these methods to personalized medicine and drug discovery. His previous research topics include computer-aided drug discovery, GPCR structure prediction and ligand docking, and QSAR descriptor development. Other interests include neuroscience and music. <em>Current Position:</em> Senior Data Scientist, <a href="https://www.loseit.com/">Lose It!</a>, Cambridge, MA</p>

<p><span style="text-decoration: underline;"><em>PhD Students</em></span></p>
<p>Abin Abraham (MSTP), Fall 2017 – Present<br />Abin was an MD/PhD student in the Human Genetics program. He graduated from the University of Michigan with a B.S.E in Biomedical Engineering.</p>

<p>Evonne McArthur (MSTP/Human Genetics), Fall 2018 – Present<br />Evonne was an MD/PhD student in the Human Genetics program. She is interested in the role of structural and regulatory element variation in risk for both rare and common diseases. She graduated from the University of North Carolina at Chapel Hill with a B.S. in Quantitative Biology.</p>

p>Mary Lauren Benton (DBMI), Summer 2016 – Summer 202<br />Mary Lauren was a graduate student in the BIDS program in the Department of Biomedical Informatics. She developed computational methods for comparing, predicting, and interpreting gene regulatory regions across tissues. She graduated with a B.S. in Bioinformatics from Baylor University.</p>
<p><em>Current Position</em>: Assistant Professor of Bioinformatics at <a href="https://www.ecs.baylor.edu/index.php?id=960856">Baylor</a></p>

<p>Laura Colbran (Human Genetics), Summer 2016 – Summer 2020<br />Laura was a graduate student in the Human Genetics program. She applied machine learning methods to interpret modern and archaic gene regulatory sequences. She graduated with a B.S. in Biology from Carleton College.</p>
<p><em>Current Position:</em> Postdoc in the <a href="https://www.med.upenn.edu/mathieson-lab/">Mathieson Lab</a> at UPenn.</p>

<p>Ling Chen (Biological Sciences), Summer 2014 – Winter 2019</a><br />Ling was a graduate student in the Biological Sciences program. She developed machine learning methods to predict and interpret gene regulatory regions across species. She graduated with a B.S. in Biology from Nankai University.</p>
<p>Current position: Senior Data Scientist at <a href="https://www.illumina.com/">Illumina</a></p>

<p>Alexandra Fish (Human Genetics), Summer 2012 – Spring 2017<br /><br />Alex’s PhD research focused on identifying  genetic variants that regulate gene expression levels, with an emphasis on both long-range regulation and interactions between variants.  She has a B.S. in Biology and a B.S. in Psychology from UNC-Chapel Hill.<br /><em>Current Position: </em>Senior Scientist, <a href="http://www.genomicsplc.com" target="_blank" rel="noopener noreferrer">Genomics PLC</a>, Oxford, UK</p>

<p>Corinne Simonti (Human Genetics), Summer 2013 – Spring 2017<br />Corinne Simonti completed her PhD in the Human Genetics program at Vanderbilt University in 2017. Her primary research focused on determining the genetic basis of the phenotypic differences between humans and archaic hominins. She graduated with a B.S. in Genetics from the University of Georgia in 2012.<br /><em>Current Position: </em> Postdoc, <a href="https://popgen.gatech.edu" target="_blank" rel="noopener noreferrer">Lachance Lab</a>, Georgia Tech</p>

<p>Mike Sivley (Biomedical Informatics), Summer 2013 – Winter 2017<br />Mike holds a BS and MS in Computer Science. His masters thesis focused on clustering rare genetic variation to improve statistical power for association studies. His PhD research developed analysis strategies for genetic variation in the context of protein structures and biobank data.<br /><em>Current Position: </em> Scientist, <a href="http://www.genomicsplc.com" target="_blank" rel="noopener noreferrer">Genomics PLC</a>, Oxford, UK</p>

<p><span style="text-decoration: underline;"><em>Undergrads</em></span></p>
<p>Elizabeth Dorans, Undergrad Intern, 2019–2020</p>
<p>Kevin Yang, Undergrad Intern, Summer 2018 – Summer 2019</p>
<p>Daniel Yan, Undergrad Intern, Summer 2018</p>
<p>Xiaoyi Dou, Undergrad Intern, Summer 2016 – Spring 2017, Summer 2018</p>
<p>Chantay Young, Undergrad Intern, Summer 2017<br />


<!-- Code for adding lab affiliates, not relevant currently  -->
<!-- <h4>Affiliates</h4>
{% for member in site.members %}

{% unless member.enddate == empty %}
{% continue %}
{% endunless %}

{% unless member.position contains "Affiliate" %}
{% continue %}
{% endunless %}

        <hr>
          <div id = "{{member.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
            <div class="col-sm-4">
                <img class="img-fluid" src="{{member.image}}" {% if member.altimage %} onmouseover="this.src='{{member.altimage}}';" onmouseout="this.src='{{member.image}}';" {% endif %} alt="{{member.name}}"; width="365"; height="365"><br>
                <strong>{{member.name}}</strong> <br>
                {% if member.pronouns %}
                  <em>{{member.pronouns}}</em> <br>
                {% endif %}
                {{member.position | markdownify | remove: '<p>' | remove: '</p>' }} <br>
                <em>{{member.email}}</em> <br>
                {% if member.website %}
                  <a style="overflow-wrap: break-word;" href= "{{member.website}}">{{member.website}}</a> <br>
                {% endif %}
                {% if member.orcid %}
                  <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/logos/orcid_logo.svg"></a>
                  <a href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a> <br>
                {% endif %}
                {% if member.linkedin %}
                  <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/logos/linkedin_logo.svg"></a>
                  <a href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a> <br>
                {% endif %}
                {% if member.UCSF %}
                  <a href="http://www.ucsf.edu"><img class="inline-block mem-icon" src="/static/img/logos/ucsf_logo_black.svg"></a>
                  <a href= "http://profiles.ucsf.edu/{{member.UCSF}}"> Profile </a> <br>
                {% endif %}
                {% if member.scholar %}
                  <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/logos/gscholar_logo.svg"></a>
                  <a href= "http://scholar.google.com/citations?user={{member.scholar}}"> Scholar Citations </a> <br>
                {% endif %}
                {% if member.twitter %}
                  <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/logos/twitter_logo.svg"></a>
                  <a href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a> <br>
                {% endif %}
                {% if member.github %}
                  <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/logos/github_logo.svg"></a>
                  <a href= "http://github.com/{{member.github}}"> {{member.github}} </a> <br>
                {% endif %}
            </div>
            <div class="col-sm-8">
                <p class="text-justify">{{member.description | markdownify}}</p>
            </div>
        </div>
{% endfor %}
<hr>
 -->














<!-- Code for the timeline situation that Erin never quite got working right, someone else is free to attempt it if you really want to  -->
<!-- 
<div>
{% assign stretch = 60 %}
{% assign yheight = 16 %}
{% assign yspacing = 18 %}
{% assign fontsize = 12 %}
{% assign yearoffset = 2010 %}
{% assign majortick = 0.05 %}
{% assign minortick = 0.025 %}
{% assign legendboxsize = 20 %}
{% assign legendboxspacing = 24 %}
{% assign people = site.members | concat: site.alumni | sort: "startdate" %}
{% assign finalyear = "now" | date: "%Y" | plus: 1 %}
<?xml version="1.0" encoding="UTF-8" ?>
<svg width="100%" height="auto" viewBox="0 0 {{ finalyear | minus: yearoffset | plus: majortick | times: stretch }} {{ people.size | plus: 1 | times: yspacing | plus: 5 }}" xmlns="http://www.w3.org/2000/svg">
{% assign i = 0 %}
{% for year in (yearoffset..finalyear)%}
	{% assign year5 = year | modulo: 5 %}
	{% if year5 == 0 %}
		{% assign tick = majortick %}
		<text x="{{ fontsize | divided_by: 4.0 | divided_by: stretch | plus: tick | plus: year | minus: yearoffset | times: stretch }}" y="{{ i | times: yspacing | plus: fontsize }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">{{ year }}</text>
	{% else %}
		{% assign tick = minortick %}
	{% endif %}
	<rect x="{{ year | minus: yearoffset | times: stretch }}" y="0" width="{{ tick | times: stretch }}" height="{{ yheight }}" fill="black" />
{% endfor %}
{% assign i = i | plus: 1 %}
{% for member in people %}
{% assign tenures = member.startdate.size | minus: 1 %}
	{% for tenure in (0..tenures) %}
		{% assign startyear = member.startdate[tenure] | date: "%Y" | minus: yearoffset %}
		{% assign startmonth = member.startdate[tenure] | date: "%m" | minus: 1 | divided_by: 12.0 %}
		{% assign start = startyear | plus: startmonth %}
		{% if member.enddate[tenure] %}
			{% assign endyear = member.enddate[tenure] | date: "%Y" | minus: yearoffset %}
			{% assign endmonth = member.enddate[tenure] | date: "%m" | minus: 1 | divided_by: 12.0 %}
			{% assign end = endyear | plus: endmonth %}
		{% else %}
			{% assign endyear = "now" | date: "%Y" | minus: yearoffset %}
			{% assign endmonth = "now" | date: "%m" | minus: 1 | divided_by: 12.0 %}
			{% assign end = endyear | plus: endmonth %}
		{% endif %}
		{% assign duration = end | minus: start %}
		{% if member.timeline_positions %}
			{% assign position = member.timeline_positions[tenure] | downcase %}
		{% else %}
			{% assign position = member.position | downcase %}
		{% endif %}
		{% if position contains "principal investigator" %}
			{% assign color = "red" %}
		{% elsif position contains "postdoctoral" %}
			{% assign color = "darkorange" %}
		{% elsif position contains "graduate student" %}
			{% assign color = "gold" %}
		{% elsif position contains "staff scientist" or position contains "programmer" %}
			{% assign color = "green" %}
		{% elsif position contains "specialist" or position contains "technician" or position contains "post-bac"%}
			{% assign color = "blue" %}
		{% elsif position contains "summer" or position contains "undergraduate" %}
			{% assign color = "blueviolet" %}
		{% else %}
			{% assign color = "purple" %}
		{% endif %}

		<rect x="{{ start | times: stretch }}" y="{{ i | times: yspacing }}" width="{{ duration | times: stretch }}" height="{{ yheight }}" fill="{{ color }}" />
		{% if tenure == 0 %}
		    <text text-anchor="end" x="{{ fontsize | divided_by: -4.0 | divided_by: stretch | plus: start | times: stretch }}" y="{{ i | times: yspacing | plus: fontsize }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">{% if member.timeline_name %}{{ member.timeline_name }}{% else %}{{ member.name | split: " " | first }}{% endif %}</text>
		{% endif %}
	{% endfor %}
{% assign i = i | plus: 1 %}
{% endfor %}

{% assign legendn = 7 %}
{% assign fontsize = 14 %}
{% assign xposition = 10 %}
{% assign yposition = i | times: yspacing %}
{% assign yposition = legendn | plus: 0.5 | times: legendboxspacing | times: -1 | plus: yposition %}
<rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}" fill="red" />
<text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}" y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Principal investigator</text>
{% assign yposition = yposition | plus: legendboxspacing %}
<rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}" fill="darkorange" />
<text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}" y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Postdoctoral fellow</text>
{% assign yposition = yposition | plus: legendboxspacing %}
<rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}" fill="gold" />
<text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}" y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Graduate student</text>
{% assign yposition = yposition | plus: legendboxspacing %}
<rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}" fill="green" />
<text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}" y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Staff scientist/programmer</text>
{% assign yposition = yposition | plus: legendboxspacing %}
<rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}" fill="blue" />
<text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}" y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Specialist/technician</text>
{% assign yposition = yposition | plus: legendboxspacing %}
<rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}" fill="blueviolet" />
<text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}" y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Summer student</text>
{% assign yposition = yposition | plus: legendboxspacing %}
<rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}" fill="purple" />
<text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}" y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Visitor</text>
</svg>
</div> -->



